body{
    background-image: url(AlbertEinstein.jpg);
}
div{
    background-color: #e65ee6;
    margin: auto;
    width: 700px;
    height: 400px;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    border: black solid 2px;
    border-radius: 20px ;
    font: impact;
}
h1{
    text-align: center;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #ffffff;
    border: black solid 2px;
    border-radius: 50px;
}
button{
    top: 50px;
    position: relative;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 200px;
    height: 120px;
}
select{
    border-radius: 0px;
    font-size: 20px;
    height: 60px;
    width: 250px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


